.gridCompProf {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 150px auto 150px auto 150px auto;
    grid-gap: 0em;
    }
   
    .companyHeader{
        font-size: 80px;
        color: #4B88A2;
        text-align: center;
        font-family: 'Neuton', serif;
    }

    .availPosHeading h2{
      font-size: 60px;
      color: #4B88A2;
      text-align: center;
      font-family: 'Neuton', serif;
    }

    .compRepHeading h2{
      font-size: 60px;
      color: #4B88A2;
      text-align: center;
      font-family: 'Neuton', serif;
    }

    .fa-user-circle{
        color: #FFF9FB;
      }
  
      .fa-user-circle:hover{
        color: #BB0A21;
      }

       input[type=file], select, textarea{
        width: 50%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        resize: vertical;
        margin-left: -200px;
        margin-bottom: 20px;
      }
      
     

    .companyHeader, .bottomSectComp, .dropdown, .tblActiveApplications, .availPosHeading, .compRepHeading {
    grid-column-start: 1;
    grid-column-end: 3;
    }
    
    .gridCompProf > * {
    background: #252627;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .leftGridComp label{ 
        color: #FFF9FB;
        padding-right: 20px;
        padding-left: 20px;
        float: left;
        font-size: 20px;
        font-family: 'Work Sans', sans-serif;
        margin-top: 30px;
        margin-right: 200px;
    }

    .fa-user-circle{
        padding: 10px 20px 10px;
    }

    .fa-user-circle:hover{
      color: #BB0A21;
      cursor: pointer;
    }

      .compColLeft{
        float: left;
        width: 25%;
        margin-top: 6px;
        padding-right: 30px;
      }

      .compColRight{
        float: left;
        width: 75%;
        margin-top: 6px;
        padding-left: 40px;
      }

      .compRow:after {
        content: "";
        display: table;
        clear: both;
      }

      .compRow label {
        color: #FFF9FB;
        font-family: 'Work Sans', sans-serif;
        font-size: 23px;
        padding: 20px;
        text-align: left;
        margin-bottom: 20px;
        margin-left: 200px;
      }

      .CompanyForm{
        padding: 20px;
      }

.btnAddNewPos, .btnAddRecruiter, .btnViewVacanciesComp, .btnViewSubmissions{
  background-color: #4B88A2;
  color: #FFF9FB;
  width: 100%;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.btnAddNewPos:hover, .btnAddRecruiter:hover, .btnViewVacanciesComp:hover, .btnViewSubmissions:hover{
  background-color: #D3D4D9;
  color: #252627;
}

.leftGridComp button{
  font-size: 30px;
  margin-left: -200px;
  padding: 30px 15px;
  background-color: #4B88A2;
  border-radius: 8px;
  border: 2px solid #396a80;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.btnEditPos, .btnDeletePos{
  background-color: transparent;
  color: #242526;
  border: none;
}

/* CURRENT POSITIONS AVAIABLE TABLE STYLES*/
    
.table{
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 10px;
  font-style: normal;
  width: 80%;
}

.tblActiveApplications table{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 10px;
  font-style: normal;
  width: 80%;
}

.tblActiveApplications th{
  color: #FFF9FB;
  font-size: 20px;
  background-color: #4B88A1;
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
}

.tblActiveApplications td{
  color: #242526;
  background-color: #D3D4D9;
  border-bottom: #252627;
  border-left: #D3D4D9;
  border-right: #D3D4D9;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding: 10px;
}


/* END OF TABLE STYLES */


/*  COMPANY REPRESENTATIVES TABLE STYLES*/
    
.table{
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 10px;
  font-style: normal;
  width: 80%;
}

.bottomSectComp table{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 10px;
  font-style: normal;
  width: 80%;
}

.bottomSectComp th{
  color: #FFF9FB;
  font-size: 20px;
  background-color: #4B88A1;
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
}

.bottomSectComp td{
  color: #242526;
  background-color: #D3D4D9;
  border-bottom: #252627;
  border-left: #D3D4D9;
  border-right: #D3D4D9;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding: 10px;
}


/* END OF TABLE STYLES */

.btnLogoutComp, .btnEditCompanyProfile{
  background: #4B88A2;
  height: 78px;
  line-height: 35px;
  width: 60%;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 30px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;     
  margin-left: 200px;
}

.btnLogoutComp:hover, .btnEditCompanyProfile:hover{
  background-color: #D3D4D9;
  color: #334257;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btnEditCompanyProfile{
  margin-top: 60px;
  
}

.btnCurrentPosTbl{
  border: none;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.btnCurrentPosTbl:hover{
  font-weight: bold;
}