.gridSubDetails {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px 400px;
    grid-gap: 0.1em;
    }
    
    .viewSubDetailsHeader,
    footer {
    grid-column-start: 1;
    grid-column-end: 3;
    }
    
    .gridSubDetails > * {
    background: #252627;
    display: flex;
    align-items: center;
    justify-content: center;
    }
  
    .viewSubDetailsHeader{
        font-size: 80px;
        color: #4B88A1;
        font-family: 'Noto Sans Display', sans-serif;
    }
  
    /* TABLE STYLES*/
    
   table{
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 10px;
    font-style: normal;
    width: 70%
  }

  .tblSubDetails{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }

  .tblSubDetails th{
    color: #FFF9FB;
    font-size: 1em;
    background-color: #4B88A1;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
  }

  .tblSubDetails td{
    color: #FFF9FB;
    background-color: #D3D4D9;
    border-bottom: #252627;
    border-left: #D3D4D9;
    border-right: #D3D4D9;
    font-family: 'Open Sans', sans-serif;

  }

 /* .tblSubDetails tr td:hover{
    background-color: #4B88A1;
    color: #FFF9FB;
    
  }*/

  /* END OF TABLE STYLES */
    