.gridViewSub {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 150px auto 150px;
  grid-gap: 0em;
  }
  
  .viewSubsHeader, .submissionsTbl, .viewSubmissionsBtns
   {
  grid-column-start: 1;
  grid-column-end: 3;
  }
  
  .gridViewSub > * {
  background: #252627;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .viewSubsHeader{
      font-size: 80px;
      color: #4B88A1;
      font-family: 'Neuton', serif;
  }

/* TABLE STYLES */

  table{
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 10px;
    font-style: normal;
    width: 80%;
  }

  .submissionsTbl table{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 10px;
    font-style: normal;
    width: 80%;
  }

  .submissionsTbl th{
  color: #FFF9FB;
  font-size: 20px;
  background-color: #4B88A1;
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
  }

  .submissionsTbl td{
    color: #242526;
    background-color: #D3D4D9;
    border-bottom: #252627;
    border-left: #D3D4D9;
    border-right: #D3D4D9;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 10px;
  }

  .btnBackViewSub{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #EEEEEE;
    height: 55px;
    line-height: 35px;
    width: 30%;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    color: #334257;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
  }


  .btnBackViewSub:hover {
    background: #4B88A2;
    color: #fff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .btnSubButtons{
    border: none;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
  }

  .btnSubButtons:hover{
    font-weight: bold;
  }