.gridAbout {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 150px 400px;
    grid-gap: 0.1em;
    background-color: #4B88A2;

    }
    
    .AboutUsHeader{
    grid-column-start: 1;
    grid-column-end: 3;
    }
    
    .gridAbout > * {
    background: #252627;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .AboutUsHeader{
        font-size: 80px;
        font-family: 'Noto Sans Display', sans-serif;
        color: #4B88A2;
    }

    .mainAbout{
        color: #FFF9FB;

    }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .mainAbout{
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        text-align: center;
        letter-spacing: 0.2em;
    }