.grid {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 150px 400px 400px;
    grid-gap: 1em;
    }
    
    .AboutUsHeader,
    footer {
    grid-column-start: 1;
    grid-column-end: 3;
    }
    
    .grid > * {
    background: #252627;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .AboutUsHeader{
        font-size: 80px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }