.gridCompProf {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 150px 600px 150px auto 150px auto;
    grid-gap: 0.1em;
    }
   
    .companyHeader{
        font-size: 80px;
        color: #4B88A2;
        text-align: center;
        font-family: 'Noto Sans Display', sans-serif;
    }

    .availPosHeading h2{
      font-size: 60px;
      color: #4B88A2;
      text-align: center;
      font-family: 'Noto Sans Display', sans-serif;
    }

    .compRepHeading h2{
      font-size: 60px;
      color: #4B88A2;
      text-align: center;
      font-family: 'Noto Sans Display', sans-serif;
    }

    .fa-user-circle{
        color: #FFF9FB;
      }
  
      .fa-user-circle:hover{
        color: #BB0A21;
      }

    .companyHeader, .bottomSectComp, .tblActiveApplications, .availPosHeading, .compRepHeading {
    grid-column-start: 1;
    grid-column-end: 3;
    }
    
    .gridCompProf > * {
    background: #252627;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .leftGridComp{
        color: #FFF9FB;
        padding-right: 20px;
        padding-left: 20px;
    }

    table th, tr{
        font-size: 30px;
        font-style: normal;
        border-color: #4B88A2;
        border-width: 3px;
    }

      .tblCompPos, .tblCompPos{
          font-size: 10px;
          color: #FFF9FB;
      }

      .tblCompPos th, .tblCompPos th{
          color: #4B88A2;
          font-size: 25px;
          height: 80px;
          width: 350px;
          text-align: center;
      }

      .tblCompPos td, .tblCompPos td{
          height: 70px;
          width: 500px;
          text-align: center;
          font-size: 25px;
      }    

      .fa-user-circle{
        padding: 10px 20px 10px;
    }

    .fa-user-circle:hover{
      color: #BB0A21;
      cursor: pointer;
    }

      .compColLeft{
        float: left;
        width: 25%;
        margin-top: 6px;
        padding-right: 30px;
      }

      .compColRight{
        float: left;
        width: 75%;
        margin-top: 6px;
        padding-left: 40px;
      }

      .compRow:after {
        content: "";
        display: table;
        clear: both;
      }

      .CompanyForm{
        padding: 40px;
        padding-left: 50px;
      }

.btnEditCompanyProfile, .btnAddNewPos, .btnAddRecruiter, .btnViewVacanciesComp{
  background-color: #4B88A2;
  color: #FFF9FB;
  width: 100%;
}

.btnEditCompanyProfile:hover, .btnAddNewPos:hover, .btnAddRecruiter:hover, .btnViewVacanciesComp:hover{
  background-color: #D3D4D9;
  color: #252627;
}

.leftGridComp button{
  font-size: 30px;
  padding: 30px 15px;
  background-color: #4B88A2;
  border-radius: 8px;
  border: 2px solid #396a80;
}