.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 150px 500px 100px;
    grid-gap: 0.1em;
    }
   
    .companyHeader{
        font-size: 80px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .companyHeader,
    footer {
    grid-column-start: 1;
    grid-column-end: 3;
    }
    
    .grid > * {
    background: #252627;
    color: #FFF9FB;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .leftGrid{
        padding-right: 20px;
        padding-left: 20px;
    }

    table th, tr{
        font-size: 30px;
        font-style: normal;
        border-color: #4B88A2;
        border-width: 3px;
    }

    h2{
        text-align: center;
        padding-top: 10px;
    }
 
    input[type=text], select, textarea{
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        resize: vertical;
        align-items: center;
        height: 50px;
        border-color: #4B88A2;
        border-width: 3px;
        line-height: 100px;
      }