.gridCompProf {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 150px auto;
    grid-gap: 0.1em;
    }
   
    .companyHeader{
        font-size: 80px;
        color: #4B88A2;
        text-align: center;
        font-family: 'Noto Sans Display', sans-serif;
    }

    .fa-user-circle{
        color: #FFF9FB;
      }
  
      .fa-user-circle:hover{
        color: #BB0A21;
      }

    .companyHeader {
    grid-column-start: 1;
    grid-column-end: 3;
    }
    
    .gridCompProf > * {
    background: #252627;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .leftGridComp{
        color: #FFF9FB;
        padding-right: 20px;
        padding-left: 20px;
    }

    table th, tr{
        font-size: 30px;
        font-style: normal;
        border-color: #4B88A2;
        border-width: 3px;
    }

      .tblCompPos{
          font-size: 10px;
          color: #FFF9FB;
      }

      .tblCompPos th{
          color: #4B88A2;
          font-size: 25px;
          height: 80px;
          width: 550px;
          text-align: center;
      }

      .tblCompPos td{
          height: 70px;
          width: 500px;
      }    

      .compColLeft{
        float: left;
        width: 25%;
        margin-top: 6px;
        padding-right: 30px;
      }

      .compColRight{
        float: left;
        width: 75%;
        margin-top: 6px;
        padding-left: 40px;
      }

      .companyRow:after {
        content: "";
        display: table;
        clear: both;
      }

      .CompanyForm{
        padding: 40px;
        padding-left: 50px;
      }