.gridContact {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 150px 400px;
    grid-gap: 0.1em;
    background-color: #4B88A2;
    }
    
    .ContactUsHeader{
        grid-column-start: 1;
        grid-column-end: 3;
        }

    .ContactUsHeader{
        font-size: 80px;
        font-family: 'Noto Sans Display', sans-serif;
        color: #4B88A2;
    }    

    .gridContact > * {
    background: #252627;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .contactLeft li{
        color: #fff;
        text-align: right;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
    }
    
    .contactRight li{
        color: #fff;
        text-align: left;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
    }

    .h2Contact{
        color: #ffffff;
        font-size: 16px;
        text-align: right;
        font-family: 'Noto Sans Display', sans-serif;
    }

    .contactRight h3{
        color: #ffffff;
        font-size: 16px;
        text-align: left;
        font-family: 'Noto Sans Display', sans-serif;
    }

    .contactRight .fa-envelope, .fa-mobile, .fa-phone
    {
        color: #fff;
        padding-left: 1em;
        font-size: 1.4em;
    }

    .contactRight .fa-facebook, .fa-twitter, .fa-linkedin, .fa-instagram{
        color: #fff;
        padding-right: 1em;
        font-size: 1.4em;
    }