.title_container-CreatePos h1{
    text-align: center;
    font-size: 80px;
    padding-bottom: 15px;
    color: #4B88A2;
    font-family: 'Noto Sans Display', sans-serif;
  }

  input[type=date], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  input[type=checkbox], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    align-items: center;
  }

  input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    align-items: center;
  }

  .form-container-CreatePos {
    border-radius: 5px;
    background-color: #252627;
    padding: 100px;
    
  }

  .col-25-CreatePos {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  .col-75-CreatePos {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  .rowCreatePos:after {
    content: "";
    display: table;
    clear: both;
  }

  .rowCreatePos label{
    color: #fff;
    font-family: 'Noto Sans Display', sans-serif;

  }

  @media screen and (max-width: 600px) {
    .col-25-CreatePos, .col-75-CreatePos, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

.btnPostPos{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #EEEEEE;
    height: 55px;
    line-height: 35px;
    width: 100%;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    color: #334257;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;

    
}
.btnPostPos:hover {
  background: #4B88A2;
  color: #fff;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btnCancelCreatePos{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #EEEEEE;
    height: 55px;
    line-height: 35px;
    width: 100%;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    color: #334257;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;

    
}
.btnCancelCreatePos:hover {
  background: #4B88A2;
  color: #fff;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}