.title_container h1{
    color: #4B88A2;
}

  input[type=text], select, textarea{
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  
  input[type=file], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  .btnDeleteVac{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #EEEEEE;
    height: 55px;
    line-height: 35px;
    width: 100%;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    color: #334257;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;

    
}
.btnDeleteVac:hover {
  background: #4B88A2;
  color: #fff;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btnSaveVac{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #EEEEEE;
    height: 55px;
    line-height: 35px;
    width: 100%;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    color: #334257;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;

    
}
.btnSaveVac:hover {
  background: #4B88A2;
  color: #fff;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}