.title_container-editGradProf h1{
    text-align: center;
    font-size: 80px;
    padding-bottom: 15px;
    color: #4b88A2;
    font-family: 'Noto Sans Display', sans-serif;
  }

input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

  input[type=email], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
   
  input[type=tel], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  .form-container-editGradProf {
    border-radius: 5px;
    background-color: #252627;
    padding: 100px;
    
  }

  .col-25-editGradProf {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  .col-75-editGradProf {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  .rowEditGradProf:after {
    content: "";
    display: table;
    clear: both;
  }

  .rowEditGradProf label{
    color: #fff;
    font-family: 'Noto Sans Display', sans-serif;
  }

  @media screen and (max-width: 600px) {
    .col-25-editGradProf, .col-75-editGradProf, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

.btnSaveGradProf{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #EEEEEE;
    height: 55px;
    line-height: 35px;
    width: 100%;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    color: #334257;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

.btnSaveGradProf:hover {
  background: #4b88a2;
  color: #fff;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btnDeleteGradProf{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #EEEEEE;
    height: 55px;
    line-height: 35px;
    width: 100%;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    color: #334257;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

.btnDeleteGradProf:hover{
    background: #4b88a2;
    color: #fff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btnCancelGradProf{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #EEEEEE;
  height: 55px;
  line-height: 35px;
  width: 100%;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  color: #334257;
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
}

.btnCancelGradProf:hover{
  background: #4b88a2;
  color: #fff;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
