.gridGradSubmissions {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px 500px;
    grid-gap: 0.1em;
    }
    
    .gradSubmissionsHeader, .gradSubmissionsWrapper {
    grid-column-start: 1;
    grid-column-end: 3;
    }
    
    .gridGradSubmissions > * {
    background: #252627;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .gradSubmissionsHeader{
        text-align: center;
        font-size: 5em;
        padding-bottom: 15px;
        color: #4B88A2;
        font-family: 'Noto Sans Display', sans-serif;
    }

    

    .btnDeleteApp{
        border: none;
        background-color: transparent;
        text-align: center;
        font-size: 0.5em;
    }

    .btnDeleteApp:hover{
       color:  #BB0A21;
    }

    /* TABLE STYLES*/
    
 table{
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 10px;
    font-style: normal;
    align-content: center;
  }
  
  .gradSubmissionsTable table{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 10px;
    font-style: normal;
    width: auto;
  }
  
  .gradSubmissionsTable th{
    color: #FFF9FB;
    font-size: 0.6em;
    background-color: #4B88A1;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
  }
  
  .gradSubmissionsTable td{
    color: #242526;
    background-color: #D3D4D9;
    border-bottom: #252627;
    border-left: #D3D4D9;
    border-right: #D3D4D9;
    font-family: 'Open Sans', sans-serif;
    height: 40px;
  }
  
  /* .gradSubmissionsTable tr td:hover{
    background-color: #4B88A1;
    color: #FFF9FB;
    
  }*/
  
  /* END OF TABLE STYLES */