h1{
    text-align: center;
    font-size: 60px;
    padding-bottom: 15px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  input[type=email], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  input[type=password], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  input[type=checkbox], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    align-items: center;
  }

  p{
      text-align: center;
      color: #fff;
      font-size: 20px;
  }

    
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  h3{
      color: #fff;
      font-size: 25px;
      text-align: center;
  }

  a{
      color: #000;
      text-align: center;
  }
/*
  .btnSignup {
    background-color: #EEEEEE;
    color: #334257;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }*/

  .form-container {
    border-radius: 5px;
    background-color: #216869;
    padding: 100px;
    
  }

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

.btnSignup{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #EEEEEE;
    height: 45px;
    line-height: 35px;
    width: 100%;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    color: #334257;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;

    
}
.btnSignup:hover {
  background: #1F2421;
  color: #fff;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}