.gridVacancies {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px 800px;
    grid-gap: 0.1em;
    }
    
    .vacanciesHeader,
    footer {
    grid-column-start: 1;
    grid-column-end: 3;
    }
    
    .gridVacancies > * {
    background: #252627;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .vacanciesHeader{
        text-align: center;
        font-size: 7em;
        padding-bottom: 15px;
        color: #fff;
        font-family: 'Noto Sans Display', sans-serif;
    }

    .tblVacancies{
        color: #fff;
    }

    .tblVacancies th{
        color: #4B88A2;
    }

    tr{
        font-size: 20px;
    }

    table tr td, th{
        border-color: #4B88A2;
        font-size: 1em;
    }

    .vacanciesWrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 200px;
        padding-top: 150px;
    }

    .searchTopGrid{
        color: #fff;
    }