.gridViewSub {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 150px 400px;
  grid-gap: 0.1em;
  }
  
  .viewSubsHeader,
  footer {
  grid-column-start: 1;
  grid-column-end: 3;
  }
  
  .gridViewSub > * {
  background: #252627;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .viewSubsHeader{
      font-size: 80px;
      color: #4B88A1;
      font-family: 'Noto Sans Display', sans-serif;
  }

  .tblViewSub{
    text-align: center;
  }

  .tblViewSub th{
    color: #4B88b4;
  }

  .tblViewSub td{
    color: #FFF9FB;
  }

  .tblViewSub button{
    background-color: transparent;
    color: #fff;
    border-color: transparent;
  }

  .tblViewSub button:hover{
    color: #BB0A21;
  }